body {
    background-image: url(../starry-sky-couple-love-silhouettes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
}
