/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  
}


/* Provide sufficient contrast against white background */
a {
  color: #0366d6;

}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;

}
.navbar{
    padding-top: 0px;
    padding-bottom: 0px;

}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 400px) {
    #days, #hours, #minutes, #seconds{
        font-size: 20px;
    }
    #tituloContador {
        font-weight: normal;
        color: aliceblue;
        text-shadow: 0.1em 0.1em 0.1em #000000;
        padding-left: 40px!important;
        font-size: 29px;
    }

    .fa {
        padding-left: 10px!important;
    }
    .dadosContador {
        font-size: 12px!important;
    }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;

}
.footer {
  position: absolute;
  
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.footer .container{
    color:aliceblue;
}




#tituloContador {
    font-weight: normal;
    color: aliceblue;
    text-shadow: 0.1em 0.1em 0.1em #000000;
    padding-left: 45px;
}
.fa{
    padding-left: 15px;
}

.dadosContador {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
    color: aliceblue;
    text-shadow: 0.1em 0.1em 0.1em #000000;
}

    .dadosContador span {
        display: block;
        font-size: 4.5rem;
    }

/* general styling */
@font-face {
    font-family: "Roboto-Thin";
    src: url(../fontes/Roboto-Thin.ttf);
}
@font-face {
    font-family: "Roboto-Regular";
    src: url(../fontes/Roboto-Regular.ttf);
}
p {
    text-align: justify;
    color: aliceblue;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
    font-family: Roboto-Thin;
    font-weight: bold;
    font-size: 18px;
    text-indent: 4em;
}
.final{
    text-align: right!important;
    text-indent: each-line!important;
}
.joao{
    margin-right: 58px;
    margin-bottom: 0px;
}
.claudinete {
    margin-bottom: 0px
}
.agradecimento{
    margin-right: 36px;
    
}
.este{
    text-align: center!important;
}
#tituloHistoria {
    text-align: center;
    margin-bottom: 5%;
    color: white;
    text-shadow: 0.1em 0.1em 0.1em #000000;
    font-family: Roboto-Regular;
    font-size: 48px;
    font-weight: 500;
}

.container {
    color: #333;
    margin: 0 auto;
    padding: 0.5rem;
    text-align: center;
}
ul{
    padding-left:0px;
}