
@{
    ViewData["Title"] = "Diario";
}
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title> Diário de Namoro</title>
        <link href="~/css/Diario.css" rel="stylesheet" />
    </head>
    <body>
        
        <a class="twitter-timeline" data-theme="dark" href="https://twitter.com/joaomlfa/timelines/1291542867844923393?ref_src=twsrc%5Etfw">Diário de Namoro</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </body>
    </html>


