@{
    ViewData["Title"] = "Home Page";
}
    <head>
        <link href="~/css/Contador.css" rel="stylesheet" />
    </head>
    <body>
        <div class="text-center" id="divContador">
            <span id="clock"></span>
        </div>
    </body>

