@{
    ViewData["Title"] = "Nossa História";
}
    <head>
        <link href="~/css/MinhaHistoria.css" rel="stylesheet" />
        <link rel="shortcut icon" href="~/favicon.ico" />
    </head>
    <body id="bodyHistoria">
        <h1 id="tituloHistoria">@ViewData["Title"]</h1>

        <p class="paragrafoHistoria">
            Oi, meu nome é João, e sou um cara privilegiado pois hoje posso dizer que conheci a pessoa mais especial desse mundo, a pessoa que trouxe cor para a vida de uma pessoa que só enxerga tudo meio acinzentado, o que eu achei que fosse impossível, mas ela conseguiu e de alguma forma faz tudo valer a pena.

        </p>
        <p class="paragrafoHistoria">
            Foi bastante difícil, encontros e desencontros, uma amizade e no final um sentimento que nos pegou de repente, sem que esperássemos, porém hoje sinto que estava tudo ali mas aguardando o tempo certo de florescer pois pode passar dias e dias e parecer infinito a espera, mas a primavera sempre chega.
        </p>
        <p class="paragrafoHistoria">
            Hoje sinto que a caminhada está apenas começando e o futuro é lindo pois ao lado dela posso sonhar como nunca antes, pois a felicidade só é plena quando compartilhada e hoje tenho a pessoa que faltava para compartilhar a minha e hoje completamos um mês, no dia 30/07/2020. Que dia especial, passei todas as 24 horas sem acreditar, animado, como se fosse o natal quando se é criança, único momento da vida em que as luzes da cidade, os enfeites e o clima toca seu coração de uma forma tão pura como nunca mais irá tocar ao crescer, porém hoje tive o gosto desse sentimento novamente, graças a ela
        </p>
        <p class="paragrafoHistoria">
            Todos os dias serão especiais, todas as semanas e meses e a cada completar de ano um ciclo da terra irá se encerrar, determinando a volta do nosso planeta em torno da estrela mais linda do universo, o Sol, e a cada ano nossa estrela interna irá ficar mais forte e mais forte, somos feitos de átomos remanescentes da morte de estrelas gigantes, de belíssimas SuperNovas e esse ciclo está ligado a nós, e para sempre comemorarei junto contigo e com o universo a chance que tenho de estar ao seu lado.
        </p>
        <p class="paragrafoHistoria este">
           Uma estrela brilha sobre a hora do nosso encontro... Elen síla lúmenn omentielvo...
</p>
        <p class="paragrafoHistoria este">
            Este contador começou, e para sempre irá correr em nossos corações...
        </p>
        <p class="paragrafoHistoria final joao">
            De: João Moreira
            
        </p>
        <p class="paragrafoHistoria final claudinete">
            Para: Claudiany Siqueira
        </p>
        <p class="paragrafoHistoria final agradecimento">
            Obrigado por tudo...
        </p>

    </body>
